.cats-container_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
.cats-photo{
    width: 30vw;
}

.cats-counter{
    font-size: 20px;
    font-weight: bold;
}